.custab{
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5% 0;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }
.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

.product-image4 a{display:block}
.product-image4 img{width:100px;height:auto}


.container table {
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
		table-layout: fixed;
	}

.container	td {
		vertical-align: middle;
		padding:5px;
		border: none;

		overflow:hidden;
		white-space : nowrap;
		text-overflow: ellipsis;
	 }
